<!doctype html>
<html lang="en">
<head>
	<title>bitchin.net</title>
	<meta charset=utf-8>
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name=viewport>
	<style>
	footer { margin: 4rem 0; }
	</style>
</head>
<body>
<h1>bitchin.net</h1>

<p>A list of bitchin&apos; things on the &apos;net.</p>

@for item in items
<div class="item">
	<h2>@item.name</h2>
	<a href="@item.link">@item.link</a>
	<span class="tags">@item.tags.join(', ')</span>
</div>
@end

	<footer>
		<p>My dad used to say "Bitchin'" a lot when I was a kid. This site is dedicated to my dad who died in 2012 due to parkinsons.</p>
		<p>code is foss and on <a href="https://github.com/profullstack/bitchin.net">github</a>
	</footer>
</body>
</html>
